@font-face {
  font-family: 'Manrope';
  src: local('Manrope'), url('/font/Manrope-Regular.woff2') format('woff2'), url('/font/Manrope-Regular.woff') format('woff');
}
* {
  box-sizing: border-box;
  outline: none;
}
html {
  padding: 0;
  margin: 0;
}
.mobile-hidden {
  display: none;
}
body {
  padding: 0;
  margin: 0;
  padding-top: 100px;
}
.section-todo {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 90px;
}
.section-todo__block {
  max-width: 1020px;
  width: 100%;
  margin: 0 auto;
}
.section-todo__element {
  width: 100%;
  border: none;
  border: 1px solid #a29eac;
}
.section-todo__button {
  font-family: 'Manrope';
  font-size: 20px;
}
