@import url("less/help/mixins.less");
@import url("less/help/vars.less");

body{
    .pama();
    padding-top: 100px;
}

.section-todo{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 0 100px;

}

.section-todo__block{
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    position: relative;
}





@media (max-width: 425px){
   
}