@import url("less/help/mixins.less");
@import url("less/help/vars.less");

body{
    .pama();
    padding-top: 100px;
}

.section-todo{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 0 90px;

}

.section-todo__block{
    max-width: 1020px;
    width: 100%;
    margin: 0 auto;
}

.section-todo__element{
    width: 100%;
    border: none;
    border: 1px solid @gray-300;
}


.section-todo__button{
    font-family: 'Manrope';
    font-size: 20px;
}



@media (max-width: 425px){
   
}